<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Статья</title>
</head>
<body>
<table>
  <form action="#" th:action="@{/article-update}" th:object="${article}" method="post">
    <label for="id">ID</label>
    <br>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="id">
    <br>
    <label for="title">Название статьи</label>
    <br>
    <input type="text" th:field="*{title}" id="title" placeholder="Название">
    <br>
    <label for="text">Содержание</label>
    <br>
    <textarea th:field="*{text}" id="text" cols="50" rows="10" placeholder="Введите текст...">Ввод...</textarea>
    <br>
    <input type="submit" value="Изменить">
  </form>
</table>
</body>
</html>